<launch>
    <!-- 不同机载电脑,注意修改fcu_url至正确的端口号及波特率 -->
    <node pkg="mavros" type="mavros_node" name="mavros" output="screen">
        <param name="fcu_url" value="/dev/ttyTHS2:921600" />
        <!--param name="gcs_url" value="udp://@192.168.31.46" / -->
        <param name="gcs_url" value="" />
        <param name="target_system_id" value="1" />
        <param name="target_component_id" value="1" />
        <rosparam command="load" file="$(find uav_navigation)/config/px4_pluginlists.yaml" />
        <rosparam command="load" file="$(find uav_navigation)/config/px4_config.yaml" />
    </node>
</launch>
