<launch>
	<!-- 启动MAVROS -->
	<!-- 不同机载电脑,注意修改fcu_url至正确的端口号及波特率 -->
	<node pkg="mavros" type="mavros_node" name="mavros" output="screen">
		<param name="fcu_url" value="/dev/ttyTHS2:921600" />
		<!--param name="gcs_url" value="udp://@192.168.31.46" / -->
		<param name="gcs_url" value="" />
		<param name="target_system_id" value="1" />
		<param name="target_component_id" value="1" />
		<rosparam command="load" file="$(find uav_navigation)/config/px4_pluginlists.yaml" />
		<rosparam command="load" file="$(find uav_navigation)/config/px4_config.yaml" />
	</node>

    <include file="$(find uav_navigation)/launch/rs_t265.launch">
    </include>

    <include file="$(find uav_navigation)/launch/amov-50C-3.launch">
    </include>

    <!-- 启动Prometheus代码 -->
    <group ns="prometheus_control">
        <!-- run the px4_pos_estimator.cpp -->
        <node pkg="prometheus_control" type="px4_pos_estimator" name="px4_pos_estimator" output="screen">
            <!-- 0 for vicon， 1 for 激光SLAM, 2 for gazebo ground truth(仿真用) -->
            <param name="input_source" value="3" />
        </node>

        <!-- run the px4_sender.cpp -->
        <node pkg="prometheus_control" type="px4_sender" name="px4_sender" output="screen">
            <rosparam command="load" file="$(find uav_navigation)/config/px4_sender.yaml"/>
        </node>

        <!-- run the terminal_control.cpp -->
        <node pkg="prometheus_control" type="terminal_control" name="terminal_control" output="screen" launch-prefix="gnome-terminal --">
            <rosparam command="load" file="$(find uav_navigation)/config/px4_sender.yaml" />
        </node>
    </group>

    <group ns="prometheus_station">
        <!-- run the ground_station.cpp -->
        <node pkg="prometheus_station" type="ground_station" name="ground_station" output="screen" launch-prefix="gnome-terminal --tab --">
        </node>

        <!-- run the ground_station_msg.cpp -->
        <node pkg="prometheus_station" type="ground_station_msg" name="ground_station_msg" output="screen" launch-prefix="gnome-terminal --tab --">
        </node>
    </group>

	<!-- TF transform -->
	<include file="$(find uav_navigation)/launch/tf_transform.launch">
    </include>

	<!-- run the laser_to_pointcloud -->
    <node pkg="prometheus_gazebo" type="laser_to_pointcloud.py" name="laser_to_pointcloud" >
    </node>

    <!-- 启动octomap建图 -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(find uav_navigation)/map.bt">
        <param name="resolution" value="0.05" />
        <!-- 发布地图的坐标系 -->
        <param name="frame_id" type="string" value="map" />
        <!-- 传感器最大感知范围 (speedup!) -->
        <param name="sensor_model/max_range" value="3.0" />
        <!-- 局部点云输入 -->
        <remap from="cloud_in" to="/prometheus/sensors/pcl2" />
        <!-- map frame is static -->
<!--        <remap from="tf_static" to="/tf" />-->
    </node>

	<!-- 启动rviz,设为false可关闭 -->
	<arg name="visualization" default="true"/>
	<group if="$(arg visualization)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find uav_navigation)/config/rviz_config.rviz" />
    	</group>
</launch>
