<launch>
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(find uav_navigation)/map.bt">
        <param name="resolution" value="0.05" />
        <!-- 发布地图的坐标系 -->
        <param name="frame_id" type="string" value="map" />
        <!-- 传感器最大感知范围 (speedup!) -->
        <param name="sensor_model/max_range" value="3.0" />
        <!-- 局部点云输入 -->
        <remap from="cloud_in" to="/prometheus/sensors/pcl2" />
        <!-- map frame is static -->
        <!--        <remap from="tf_static" to="/tf" />-->
    </node>
</launch>
