<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_map"
          args="0 0 0 0 0 0 world map"/>

    <!-- run the laser_to_pointcloud -->
    <node pkg="prometheus_gazebo" type="laser_to_pointcloud.py" name="laser_to_pointcloud" >
    </node>

<!--    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(find uav_navigation)/map.bt">-->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.05" />
        <!-- 发布地图的坐标系 -->
        <param name="frame_id" type="string" value="map" />
        <!-- 传感器最大感知范围 (speedup!) -->
        <param name="sensor_model/max_range" value="5.0" />
        <!-- 局部点云输入 -->
<!--        <remap from="cloud_in" to="/octomap_point_cloud_centers"/>-->
        <remap from="cloud_in" to="/prometheus/sensors/pcl2"/>
    </node>
</launch>
