<launch>
	<!-- 关于坐标系转换请参看文档相关说明 -->

	<!-- base_link: 机体坐标系 -->
	<!-- 注意，当无人机起飞点不在 0,0,0时, gazebo中的坐标系并非与map系的原点重合 -->

	<!-- TF for world and map-->
	<!-- 仿真中引入world系和map系, 实际实验中vicon/world != map系 -->
	<!-- world: 世界系,即gazebo坐标系 -->
	<!-- map:   以飞机起飞点为原点的坐标系  -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_world_map"
          	args="-1.17 -3.51 0 0 0 0 world map"/>

	<!-- IP and port on Vicon Windows PC -->
	<arg name="datastream_hostport" default="192.168.28.58:801"/>
	<!-- Fixed vicon world frame -->
	<arg name="vicon_world_frame" default="world"/>

	<node pkg="uav_localization" type="uav_localization" name="vicon" output="screen" >
		<param name="stream_mode" value="ClientPull"/>
		<param name="datastream_hostport" value="$(arg datastream_hostport)"/>
		<param name="tf_ref_frame_id" value="$(arg vicon_world_frame)"/>
	</node>

</launch>
